{% extends "admin_base.html" %}

{% block content %}
<section id="section-results">
<div class="container">
  <div class="row text-center">
    <div class="col-lg-12">
      <h2 class="section-heading">Current Standings</h1>
        <br>
        <br>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-lg-12">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div><!-- row -->
  </div>
</section>
{% endblock %}
