{% extends "admin_base.html" %}

{% block content %}
<section id="section-results">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-12">
				<h2 class="section-heading">Videos</h2>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<a class="btn btn-primary btn-lg">New Video</a><br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				{% with messages = get_flashed_messages() %}
				{% for message in messages %}
				<div class="alert alert-secondary">
					{{ message }}
				</div><br>
				{% endfor %}
				{% endwith %}
				<table class="table table-striped">
					<tbody>
						<thead>
							<tr>
								<th scope="col">Title</th>
								<th scope="col">Created By</th>
								<th scope="col"># votes</th>
								<th scope="col">State</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						{% for vid in videos %}
						<tr>
							<td><a href="{{url_for('view',video_id=vid.id)}}">{{vid.title}}</a></td>
							<td>{{vid.uploader.email}}</td>
							<td>{{vid.votes.count()}}</td>
							<td>{{vid.getStateString()}}</td>
							<td style="text-align: right">
								{% if vid.is_published%}
								<a class="btn btn-sm btn-danger" href="{{url_for('video_action',video_id=vid.id,action='unpublish')}}">Unpublish</a>
								{% else %}
								<a class="btn btn-sm btn-primary" href="{{url_for('video_action',video_id=vid.id,action='publish')}}">publish</a>
								{% endif %}
								<a class="btn btn-sm btn-dark" href="#">edit</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div><!-- row -->

	</div>
</section>
{% endblock %}