
{% extends "admin_base.html" %}

{% block content %}
<section class="admin-section">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-12">
				<h2 class="section-heading">Votes</h2>
				<br>
				<br>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Video</th>
							<th scope="col">Voted at</th>
							<th scope="col">Voted by</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{%for v in votes%}
						<tr>
							<td><a href="#">{{v.video.title}}</a></td>
							<td>{{v.timestamp.strftime("%d %b %H:%M")}} (UTC)</td>
							<td>{{v.giver.email}}</td>
							<td style="text-align: right"><a class="btn btn-sm btn-danger" href="#">Remove</a></td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div><!-- row -->
	</div>
</section>
{% endblock %}