
{% extends "admin_base.html" %}

{% block content %}
<section id="section-results">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-12">
				<h2 class="section-heading">Votes</h2>
				<br>
				<br>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table class="table table-striped">
					<tbody>
						<thead>
							<tr>
								<th scope="col">Candidate</th>
								<th scope="col">Voted at</th>
								<th scope="col">Voted by</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tr>
							<td><a href="#">Gylfi Sigurdsson vs. Leicester City</a></td>
							<td>2 May 23:32</td>
							<td>mark@domain.com</td>
							<td style="text-align: right"><a class="btn btn-sm btn-danger" href="#">Remove</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- row -->
	</div>
</section>
{% endblock %}